<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Draggable - Default functionality</title>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="css/dragAndDrop.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="javascripts/clientSocket.js"></script>
  <script src="javascripts/game.js"></script>
  <script src="javascripts/dragAndDrop.js"></script>
  <script src="javascripts/timer.js"></script>
  <script src="javascripts/cards.js"></script>
  <script src="javascripts/challenging.js"></script>

  <!-- This is my example client-side javascript that uses socket.io -->

</head>

<body>

  <div class="row">
    <div id="sidebar" class="small-4 medium-4 large-4 columns">
      <p> Cards </p>
      <div id="cards"></div>
      <button id="challengeNow">Challenge Now</button>
      <button id="challengeNever">Challenge Never</button>
      <div id="cont">
</div>
      <button id="dealCards">Shuffle and Deal</button>
    </div>
    <div id="game-area" class="small-8 medium-8 large-8 columns">
      <div id="resources" class="card small-8 medium-8 large-8 columns">
        <p>Resources</p>
        <button id="rollCubes">Roll 'Em</button>
      </div>
      <div class="card small-4 medium-4 large-4 columns">
     <div id="numPlayers"></div>

    <div id="time"></div>
    <button id="reset">Start Timer</button>
    <div id="socketTest"></div>
    <div id="playerNumber"></div>

      </div>
      <div id="forbidden" class="drop1 droppable card small-4 medium-4 large-4 columns">
        <p>Forbidden</p>
      </div>
      <div id="permitted" class="drop2 droppable card small-4 medium-4 large-4 columns">
        <p>Permitted</p>
      </div>
      <div id="required" class="drop3 droppable card small-4 medium-4 large-4 columns">
        <p>Required</p>
      </div>
    </div>
  </div>

  <script src="javascripts/vendor/what-input.js"></script>
  <script src="javascripts/vendor/foundation.js"></script>
  <script src="javascripts/app.js"></script>
</body>

</html>
