<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Draggable - Default functionality</title>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- This is my example client-side javascript that uses socket.io -->
  <script src="/javascripts/clientSocket.js"></script>
  <script src="/javascripts/startScreen.js"></script>
</head>

<body>

<h1> On-Sets </h1>
<form>
  First name:<br>
  <input id="username" type="text" name="firstname" value="Becca">
  <br>
  <input type="button" id="submitButton" onclick="location.href='/play';" value="Submit" />
  <!-- onclick="location.href='index.html';"  onclick="location.href='/play';" -->
</form>

<div id = "nameDisplay">
</div>


  <script src="javascripts/vendor/what-input.js"></script>
  <script src="javascripts/vendor/foundation.js"></script>
  <script src="javascripts/app.js"></script>
</body>

</html>
