h1 {
  color: black;
}

body {
  overflow: hidden;

  /* Internet Explorer Scroll Block */
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
  font-size: 1.2em;
}

#sidebar {
  background-color: #c50a3c;
  height: 100vh;
}

#game-area {
  padding-right: 0px;
}

.card {
  background-color: #CCC;
  height: 50vh;
}

#forbidden, #permitted, #required{
  background-color: #F4D03F  ;
  border: 5px solid #c50a3c;
  padding:5px;
}

.timeSection{
  background-color: #c50a3c;
}

#resources{
  /*background-color: #561a44;*/
  /*background-color: #fc583c;*/
  background-color: #c50a3c;
}

#login, #signup {
    width: 70%;
}

