h1 {
  color: black;
}

#playerDisplay, #mobileCheck{
  color: black;
}

table{
  color: black;
}

table tr:nth-child(odd) {background: #ecc9d6}

button{
    background-color: #F4D03F; 
    border: none;
    color: white;
    padding: 2%;
    text-align: center;
    font-size: .9em;
}

body {
  overflow: hidden;

  /* Internet Explorer Scroll Block */
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
  font-size: 1.2em;
}

#sidebar {
  background-color: #c50a3c;
  height: 100vh;
}

#game-area {
  padding-right: 0px;
}

.card {
  background-color: #CCC;
  height: 50vh;
}

#forbidden, #permitted, #required{
  background-color: #F4D03F  ;
  border: 5px solid #c50a3c;
  padding:5px;
}

.timeSection{
  background-color: #c50a3c;
}

#resources{
  background-color: #c50a3c;
}

#usernameLogin, #usernameSignup{
  width: 20%;
 margin: auto;
}

#login, #signup, #loginSubmitButton, #signupSubmitButton {
    width: 20%;
    background-color: #c50a3c;
    border: none;
}

