/*style structure modified from http://stackoverflow.com/questions/4574978/jquery-ui-dropping-elements-only-in-special-areas*/
.clear {clear: both;}
.drag {width: 13%; height: 13%; float: left; margin: 5px}
.forbidden, .permitted, .required {width: 20%; height: 20%; float: left; margin: 5px}
.cardImg {width: 25%; height: 25%}
#draggable { width: 150px; height: 150px; padding: 0.5em; }